In [29]:
from SPARQLWrapper import SPARQLWrapper, JSON
import json

In [30]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")
politicians=[]
for i in range(99): # from 1900 to 1999
    query_string = """
        SELECT ?politician ?politicianLabel ?givenname ?givennameLabel ?familyname ?familynameLabel ?nickname ?nicknameLabel 
        ?pseudonym ?pseudonymLabel  ?ethnicity ?ethnicityLabel ?party ?partyLabel ?positionheld ?positionheldLabel
        ?origin ?originLabel ?DOB ?DOBLabel ?sex_or_gender ?sex_or_genderLabel WHERE {
        SERVICE wikibase:label { 
            bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". 
        }
        ?politician wdt:P106 wd:Q82955;
            wdt:P569 ?birth.
        FILTER(?birth >= "%s"^^xsd:dateTime && ?birth < "%s"^^xsd:dateTime)
        OPTIONAL { ?politician wdt:P735 ?givenname. }
        OPTIONAL { ?politician wdt:P734 ?familyname. }
        OPTIONAL { ?politician wdt:P1449 ?nickname. }
        OPTIONAL { ?politician wdt:P742 ?pseudonym. }
        OPTIONAL { ?politician wdt:P172 ?ethnicity. }
        OPTIONAL { ?politician wdt:P102 ?party. }
        OPTIONAL { ?politician wdt:P39 ?positionheld. }
        OPTIONAL { ?politician wdt:P27 ?origin. }
        OPTIONAL { ?politician wdt:P569 ?DOB. }
        OPTIONAL { ?politician wdt:P21 ?sex_or_gender. }

        }
      """ % (f"19{i:02}-01-01", f"19{(1+i):02}-01-01")
    print(f"19{i:02}-01-01", f"19{(1+i):02}-01-01")
    sparql.setQuery(query_string)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    for politician in results['results']['bindings']:
        data = {}
        data['id'] = politician['politician']['value'].rsplit('/',1)[1]
        data['name'] = politician['politicianLabel']['value']
        for var in results['head']['vars'][3::2]:
            if var in politician.keys():
                data[var[:-5]] = politician[var]['value']
        politicians.append(data)

1900-01-01 1901-01-01
1901-01-01 1902-01-01
1902-01-01 1903-01-01
1903-01-01 1904-01-01
1904-01-01 1905-01-01
1905-01-01 1906-01-01
1906-01-01 1907-01-01
1907-01-01 1908-01-01
1908-01-01 1909-01-01
1909-01-01 1910-01-01

JSONDecodeError: Invalid control character at: line 264963 column 45 (char 7125050)

In [45]:
# # If receive HTTP Error run this

# # print(politicians[-1]) #to determine start year

for i in range(60,99): # from 1900 to 1999
    query_string = """
        SELECT ?politician ?politicianLabel ?givenname ?givennameLabel ?familyname ?familynameLabel ?nickname ?nicknameLabel 
        ?pseudonym ?pseudonymLabel  ?ethnicity ?ethnicityLabel ?party ?partyLabel ?positionheld ?positionheldLabel
        ?origin ?originLabel ?DOB ?DOBLabel ?sex_or_gender ?sex_or_genderLabel WHERE {
        SERVICE wikibase:label { 
            bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". 
        }
        ?politician wdt:P106 wd:Q82955;
            wdt:P569 ?birth.
        FILTER(?birth >= "%s"^^xsd:dateTime && ?birth < "%s"^^xsd:dateTime)
        OPTIONAL { ?politician wdt:P735 ?givenname. }
        OPTIONAL { ?politician wdt:P734 ?familyname. }
        OPTIONAL { ?politician wdt:P1449 ?nickname. }
        OPTIONAL { ?politician wdt:P742 ?pseudonym. }
        OPTIONAL { ?politician wdt:P172 ?ethnicity. }
        OPTIONAL { ?politician wdt:P102 ?party. }
        OPTIONAL { ?politician wdt:P39 ?positionheld. }
        OPTIONAL { ?politician wdt:P27 ?origin. }
        OPTIONAL { ?politician wdt:P569 ?DOB. }
        OPTIONAL { ?politician wdt:P21 ?sex_or_gender. }

        }
      """ % (f"19{i:02}-01-01", f"19{(1+i):02}-01-01")
    print(f"19{i:02}-01-01", f"19{(1+i):02}-01-01")
    sparql.setQuery(query_string)
    sparql.setReturnFormat(JSON)
    results = sparql.query().convert()
    for politician in results['results']['bindings']:
        data = {}
        data['id'] = politician['politician']['value'].rsplit('/',1)[1]
        data['name'] = politician['politicianLabel']['value']
        for var in results['head']['vars'][3::2]:
            if var in politician.keys():
                data[var[:-5]] = politician[var]['value']
        politicians.append(data)

1960-01-01 1961-01-01
1961-01-01 1962-01-01
1962-01-01 1963-01-01
1963-01-01 1964-01-01
1964-01-01 1965-01-01
1965-01-01 1966-01-01
1966-01-01 1967-01-01
1967-01-01 1968-01-01
1968-01-01 1969-01-01
1969-01-01 1970-01-01
1970-01-01 1971-01-01
1971-01-01 1972-01-01
1972-01-01 1973-01-01
1973-01-01 1974-01-01
1974-01-01 1975-01-01
1975-01-01 1976-01-01
1976-01-01 1977-01-01
1977-01-01 1978-01-01
1978-01-01 1979-01-01
1979-01-01 1980-01-01
1980-01-01 1981-01-01
1981-01-01 1982-01-01
1982-01-01 1983-01-01
1983-01-01 1984-01-01
1984-01-01 1985-01-01
1985-01-01 1986-01-01
1986-01-01 1987-01-01
1987-01-01 1988-01-01
1988-01-01 1989-01-01
1989-01-01 1990-01-01
1990-01-01 1991-01-01
1991-01-01 1992-01-01
1992-01-01 1993-01-01
1993-01-01 1994-01-01
1994-01-01 1995-01-01
1995-01-01 1996-01-01
1996-01-01 1997-01-01
1997-01-01 1998-01-01
1998-01-01 1999-01-01

In [46]:
query_string = """
        SELECT ?politician ?politicianLabel ?givenname ?givennameLabel ?familyname ?familynameLabel ?nickname ?nicknameLabel 
        ?pseudonym ?pseudonymLabel  ?ethnicity ?ethnicityLabel ?party ?partyLabel ?positionheld ?positionheldLabel
        ?origin ?originLabel ?DOB ?DOBLabel ?sex_or_gender ?sex_or_genderLabel WHERE {
        SERVICE wikibase:label { 
            bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". 
        }
        ?politician wdt:P106 wd:Q82955;
            wdt:P569 ?birth.
        FILTER(?birth >= "1999-01-01"^^xsd:dateTime)
        OPTIONAL { ?politician wdt:P735 ?givenname. }
        OPTIONAL { ?politician wdt:P734 ?familyname. }
        OPTIONAL { ?politician wdt:P1449 ?nickname. }
        OPTIONAL { ?politician wdt:P742 ?pseudonym. }
        OPTIONAL { ?politician wdt:P172 ?ethnicity. }
        OPTIONAL { ?politician wdt:P102 ?party. }
        OPTIONAL { ?politician wdt:P39 ?positionheld. }
        OPTIONAL { ?politician wdt:P27 ?origin. }
        OPTIONAL { ?politician wdt:P569 ?DOB. }
        OPTIONAL { ?politician wdt:P21 ?sex_or_gender. }

        }
      """ #pick up anyone born after 1999, just in case

sparql.setQuery(query_string)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()
for politician in results['results']['bindings']:
    data = {}
    data['id'] = politician['politician']['value'].rsplit('/',1)[1]
    data['name'] = politician['politicianLabel']['value']
    for var in results['head']['vars'][3::2]:
        if var in politician.keys():
            data[var[:-5]] = politician[var]['value']
    politicians.append(data)

In [48]:
with open('politician_data.json', 'w', encoding='utf-8') as f:
    json.dump(politicians, f, ensure_ascii=False, indent=4)

In [47]:
len(politicians)

647529

In [28]:
import pandas as pd
df = pd.read_csv('2021-02-04/politics_subreddit.csv', index_col='id')
pd.concat((df,pd.read_csv('2021-02-05/politics_subreddit.csv', index_col='id')))

,Unnamed: 0,title,body
id,,,
lc2v0c,0,Cheney refuses to apologize for voting to impe...,https://www.nbcnews.com/politics/congress/chen...
lc2zo8,1,Marjorie Taylor Greene gets standing ovation a...,https://www.independent.co.uk/news/world/ameri...
lc5y39,2,370 Congressional Aides Urge Senate to Bar Tru...,https://truthout.org/articles/370-congressiona...
lc2hnj,3,Republicans Officially Okay Violent Death Thre...,https://www.vanityfair.com/news/2021/02/kevin-...
lc803q,4,Puerto Rico pushes for statehood amid debt cri...,https://www.washingtontimes.com/news/2021/feb/...
...,...,...,...
lcwzig,95,Hashtag criticizing Ocasio-Cortez's account of...,https://thehill.com/briefingroom-blogroll/5374...
lcdm3b,96,Insurrectionists could be in more trouble than...,https://www.cincinnati.com/story/opinion/2021/...
lcz8by,97,Biden: US taking 'urgent' steps to improve cyb...,https://thehill.com/policy/cybersecurity/53743...
lcy9tm,98,AOC hits back at Republican colleagues who cha...,https://www.salon.com/2021/02/04/aoc-hits-back...
lcudwy,99,"No, Marjorie Taylor Greene isn't sorry",https://www.cnn.com/2021/02/04/politics/marjor...

# Debug

In [56]:
sparql = SPARQLWrapper("https://query.wikidata.org/sparql")

# Query for politician name's and their gender (only for politicians born in 20th century 
# or later)

# Change language from en to ru for Russian, etc. 

query_string = """
        SELECT ?politician ?politicianLabel ?givenname ?givennameLabel ?familyname ?familynameLabel ?nickname ?nicknameLabel 
        ?pseudonym ?pseudonymLabel  ?ethnicity ?ethnicityLabel ?party ?partyLabel ?positionheld ?positionheldLabel
        ?origin ?originLabel ?DOB ?DOBLabel ?sex_or_gender ?sex_or_genderLabel WHERE {
        SERVICE wikibase:label { 
            bd:serviceParam wikibase:language "[AUTO_LANGUAGE],en". 
        }
        ?politician wdt:P106 wd:Q82955;
            wdt:P569 ?birth.
        FILTER(?birth >= "1990-01-01"^^xsd:dateTime)
        OPTIONAL { ?politician wdt:P735 ?givenname. }
        OPTIONAL { ?politician wdt:P734 ?familyname. }
        OPTIONAL { ?politician wdt:P1449 ?nickname. }
        OPTIONAL { ?politician wdt:P742 ?pseudonym. }
        OPTIONAL { ?politician wdt:P172 ?ethnicity. }
        OPTIONAL { ?politician wdt:P102 ?party. }
        OPTIONAL { ?politician wdt:P39 ?positionheld. }
        OPTIONAL { ?politician wdt:P27 ?origin. }
        OPTIONAL { ?politician wdt:P569 ?DOB. }
        OPTIONAL { ?politician wdt:P21 ?sex_or_gender. }
        
        }
  """

sparql.setQuery(query_string)
sparql.setReturnFormat(JSON)
results = sparql.query().convert()

In [42]:
politicians=[]
for politician in results['results']['bindings']:
    data = {}
    data['name'] = politician['politicianLabel']['value']
    for var in results['head']['vars'][3::2]:
        if var in politician.keys():
            data[var[:-5]] = politician[var]['value']
    politicians.append(data)

In [14]:
import json
with open('politician_data.json') as f:
    wikidata = json.load(f)

In [17]:
wikidata2 = list({v['id']:v for v in wikidata}.values())

In [22]:
for entry in wikidata2:
    if 'sex_or_gender' not in entry.keys():
        wikidata2.remove(entry)
len(wikidata2)

319809

In [27]:
wikidata2[0].keys()

dict_keys(['id', 'name', 'givenname', 'familyname', 'party', 'positionheld', 'origin', 'DOB', 'sex_or_gender'])

In [28]:
wikidata3 = [entry for entry in wikidata2 if 'sex_or_gender' in entry.keys()]

In [30]:
len(wikidata3)

316743

In [46]:
with open('politician_data_final.json', 'w', encoding='utf-8') as f:
    json.dump(wikidata3, f, ensure_ascii=False, indent=4)

In [45]:
dict(([entry['id']], entry['sex_or_gender']) for entry in wikidata3)

TypeError: unhashable type: 'list'

In [ ]:
import pandas as pd
import sys
import glob

month = sys.argv[1]
year = sys.argv[2]
date_str = year + "-" + month
# date=datetime.date(int(year),int(month),1)
# date_str = date.strftime('%Y-%m')

dfs = []
for file in glob.glob(f"selfdata/processed4/{date_str}/*.csv"):
    dfs.append(pd.read_csv(file))
df = pd.concat(dfs) # merge into one file

# I accidentally dropped the column ID in my earlier processing, so I need to make one to link identical comments together
df['id']=df.groupby(['created_at','to_id']).ngroup().add(1) # group by created_at and to_id to do so

drop_columns = ['link_id','created_at','to_id','post_named','cmt_named','named']
df.drop(columns=drop_columns) # drop unnecessary columns

In [1]:
import json
with open('politician_data_final.json') as f:
    wikidata = json.load(f)

genders = {}
for entry in wikidata:
    genders[entry['id']] = entry['sex_or_gender']
    
ethnicities = {}
for entry in wikidata:
    if "ethnicity" in entry.keys():
        ethnicities[entry['id']] = entry['ethnicity']
        
parties = {}
for entry in wikidata:
    if "party" in entry.keys():
        parties[entry['id']] = entry['party']

origins = {}
for entry in wikidata:
    if "origin" in entry.keys():
        origins[entry['id']] = entry['origin']
        
ages = {}
for entry in wikidata:
    if "DOB" in entry.keys():
        ages[entry['id']] = entry['DOB']
        
positions = {}
for entry in wikidata:
    if "positionheld" in entry.keys():
        positions[entry['id']] = entry['positionheld']

        
## This may be inaccurate, check.
first_names = {}
for entry in wikidata:
    if "givenname" in entry.keys():
        first_names[entry['id']] = entry['givenname']
        
last_names = {}
for entry in wikidata:
    if "familyname" in entry.keys():
        last_names[entry['id']] = entry['familyname']

In [22]:
for entry in wikidata:
    if entry['id'] == 'Q55223040':
        print(entry)

{'id': 'Q55223040', 'name': 'Alexandria Ocasio-Cortez', 'givenname': 'Alexandria', 'familyname': 'Ocasio-Cortez', 'party': 'Democratic Party', 'positionheld': 'United States representative', 'origin': 'United States of America', 'DOB': '1989-10-13T00:00:00Z', 'sex_or_gender': 'female'}

In [17]:
nicknames = {}
for entry in wikidata:
    if "pseudonym" in entry.keys():
        nicknames[entry['id']] = entry['pseudonym']

In [12]:
import pandas as pd
pd.Series(genders).value_counts()

male                  259165
female                 57500
transgender female        58
non-binary                 7
transgender male           4
cisgender female           2
genderqueer                2
male organism              1
transfeminine              1
third gender               1
genderfluid                1
female organism            1
dtype: int64

In [14]:
len(first_names)/len(genders)

0.8290380529325037

In [15]:
len(last_names)/len(genders)

0.5675042542376627

In [ ]:
df['sex'] = df['NEL'].map(genders)
df['ethnicity'] = df['NEL'].map(ethnicities)
df['origin'] = df['NEL'].map(origins)
df['DOB'] = df['NEL'].map(ages)
df['highest_position'] = df['NEL'].map(positions)
df['party'] = df['NEL'].map(parties)

In [66]:
import glob
dfs = []
for file in glob.glob('*.csv'):
    dfs.append(pd.read_csv(file))
pd.concat(dfs)

,id,body,created_at,link_id,subreddit,to_type,to_id,post_named,cmt_named,named,NEL,created_utc,created,context,test1
0,eczayo1,"Yeah man, you obviously didn’t pay attention. ...",1.546301e+09,ab7fzp,politics,t1,ecyrok6,True,True,True,Q434706,NaN,NaN,NaN,NaN
1,eczayo1,"Yeah man, you obviously didn’t pay attention. ...",1.546301e+09,ab7fzp,politics,t1,ecyrok6,True,True,True,Q22686,NaN,NaN,NaN,NaN
2,eczayvh,Agreed. Trump’s a weak candidate and not marke...,1.546301e+09,ab76aj,politics,t1,ecy3xgr,True,False,True,Q22686,NaN,NaN,NaN,NaN
3,eczazf1,So vote for Trump again. See how that works ou...,1.546301e+09,ab74v2,politics,t1,ecyge2i,True,False,True,Q22686,NaN,NaN,NaN,NaN
4,eczazgl,"Karl Rove, the Koch Bros, the National Review,...",1.546301e+09,aba6aq,politics,t1,ecyp4um,True,True,True,Q22686,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,ds303wg,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,alternative is? As long as A Republican Party...
96,ds3culw,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,65 million votes were cast for democrats in th...
97,ds3f12i,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,My favorite King idiocy.URL\n\nDid you know th...
98,ds35own,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Gotta be careful. Liberals are the most danger...
99,ds2zhz0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,The guys has no shoulders. Trump definitely we...

In [ ]:
# Assess name used
df['given_name_used'] = df['Names'] == df['NEL'].map(first_names)
df['family_name_used'] = df['Names'] == df['NEL'].map(last_names)
df['full_name_used'] = (df['given_name_used']) & (df['family_name_used'])
df['nickname_used'] = ~(df['given_name_used'] | df['family_name_used'])

In [55]:
import pandas as pd
df = pd.DataFrame(['Q12278548', 'Q5', 'Q226122'])
df[0].map(ethnicities)

0       Bulgarians
1              NaN
2    Yoruba people
Name: 0, dtype: object

In [59]:
df2 = pd.concat([df,pd.DataFrame(['Q1','Q5','Q6'])], axis=1)
df2.columns = [0,1]
df2

           0   1
0  Q12278548  Q1
1         Q5  Q5
2    Q226122  Q6

In [62]:
df2[3] = df2[0] == df2[1]

In [63]:
df2

           0   1      3
0  Q12278548  Q1  False
1         Q5  Q5   True
2    Q226122  Q6  False